{% extends 'base.html.twig' %}

{% block title %}{{ 'welcome.history.title'|trans }}{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY')!=true %}
  <nav class="border-b border-gray-200 bg-white dark:border-white/10 dark:bg-gray-900">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex shrink-0 items-center">
              <a href="{{ path('mbs_home') }}"><img src="{{ asset('images/mobasave-notext.svg') }}" alt="{{ 'global.name'|trans }}" class="h-15 w-auto" /></a>
          </div>
            {% set current = 'history' %}
            <a href="{{ path('mbs_home') }}" class="inline-flex items-center border-b-2 ml-3 {{ current=='home' ? 'border-green-800 dark:border-green-700 text-gray-900 dark:text-white' : 'text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:text-gray-400 dark:hover:border-white/20 dark:hover:text-gray-200 border-transparent' }} px-1 pt-1 text-sm font-medium">{{ 'global.nav.welcome'|trans }}</a>
            <a href="{{ path('mbs_join') }}" class="inline-flex items-center border-b-2 ml-3 {{ current=='join' ? 'border-green-800 dark:border-green-700 text-gray-900 dark:text-white' : 'text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:text-gray-400 dark:hover:border-white/20 dark:hover:text-gray-200 border-transparent' }} px-1 pt-1 text-sm font-medium">{{ 'global.nav.join'|trans }}</a>
            <a href="{{ path('mbs_history') }}" class="inline-flex items-center border-b-2 ml-3 {{ current=='history' ? 'border-green-800 dark:border-green-700 text-gray-900 dark:text-white' : 'text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:text-gray-400 dark:hover:border-white/20 dark:hover:text-gray-200 border-transparent' }} px-1 pt-1 text-sm font-medium">{{ 'global.nav.history'|trans }}</a>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <div class="flex flex-1 items-center justify-center px-2 lg:ml-6 lg:justify-end">
                <div class="w-full">
                <div class="grid grid-cols-1">
                    <select id="language" name="language" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus-visible:outline-green-700">
                        {% for locale in locales %}
                            {% set is_active = app.locale == locale.code %}
                            <option {{ is_active ? 'selected="selected"' }} translate="no" data-href="{{ path(app.current_route ?? 'blog_index', app.current_route_parameters|merge({_locale: locale.code})) }}">
                                    {{ locale.name|capitalize }}
                            </option>
                        {% endfor %}
                    </select>
                    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                        <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endif %}
<div class="py-10">
<header>
      <div class="flex justify-between mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Versionshistorie</h1>
      </div>
      <p class="mx-auto max-w-10xl px-4 sm:px-6 lg:px-8 mt-4 text-base/7 text-pretty text-gray-600 dark:text-gray-400">Lieber selber hosten? Der Code steht auf <a href="https://github.com/msslovi0/mobasave" target="_blank" rel="noopener" class="font-semibold text-green-800 hover:text-green-700 dark:text-green-600 dark:hover:text-green-500">Github zur Verfügung</a>.</p>
  </header>
</div>
<!--
<div class="bg-white dark:bg-gray-900 pb-10">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="lg:col-span-5">
        <h2 class="text-2xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-3xl dark:text-white">1.0.0 beta</h2>
        <p class="mt-4 text-base/7 text-pretty text-gray-600 dark:text-gray-400">Lieber selber hosten? Der Code steht auf <a href="https://github.com/msslovi0/mobasave" target="_blank" rel="noopener" class="font-semibold text-green-800 hover:text-green-700 dark:text-green-600 dark:hover:text-green-500">Github zur Verfügung</a>.</p>
      </div>
      <div class="mt-10 lg:col-span-7 lg:mt-0">
      <dl class="divide-y divide-gray-900/10 dark:divide-white/10">
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-0" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Grundlegende Modellverwaltung</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-0" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Stammdaten</li>
                <li>Detaildaten</li>
                <li>Digitalinfos</li>
                <li>Funktionstastenbelegung</li>
                <li>Beladungsdaten</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
      </dl>
      </div>
    </div>
  </div>
</div>
-->
<div class="bg-white dark:bg-gray-900 pb-10">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="lg:col-span-5">
        <h2 class="text-2xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-3xl dark:text-white">1.0.1 beta</h2>
      </div>
      <div class="mt-10 lg:col-span-7 lg:mt-0">
      <dl class="divide-y divide-gray-900/10 dark:divide-white/10">
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-101-beta-0" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Features</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-101-beta-0" class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Modell duplizieren</li>
                <li>Modelle filtern</li>
                <li>Spaltensortierung Modelle/Händler/Hersteller/Gesellschaften/Aufbewahrung</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-101-beta-0" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Bugfixes</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-101-beta-0" class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Kleinere Fixes bei Texten und Farben</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
      </dl>
      </div>
    </div>
  </div>
</div>

<div class="bg-white dark:bg-gray-900 pb-10">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="lg:col-span-5">
        <h2 class="text-2xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-3xl dark:text-white">1.0.0 beta</h2>
      </div>
      <div class="mt-10 lg:col-span-7 lg:mt-0">
      <dl class="divide-y divide-gray-900/10 dark:divide-white/10">
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-0" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Verwaltung „Modelle”</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-0" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Stammdaten</li>
                <li>Detaildaten</li>
                <li>Digitalinfos</li>
                <li>Funktionstastenbelegung</li>
                <li>Beladungsdaten</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-1" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Benutzerprofil</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-1" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Name</li>
                <li>Profilbild</li>
                <li>Standardwerte</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-2" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Verwaltung „Hersteller“</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-2" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Stammdaten</li>
                <li>Social Media</li>
                <li>Logo</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-3" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Verwaltung „Händler“</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-3" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Stammdaten</li>
                <li>Social Media</li>
                <li>Logo</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-4" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Verwaltung „Gesellschaften“</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-4" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Stammdaten</li>
                <li>Farben</li>
                <li>Logo</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-5" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Verwaltung „Aufbewahrung“</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-5" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Stammdaten</li>
                <li>Farbe</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="changelog-100-beta-6" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
              <span class="text-base/7 font-semibold">Sonstiges</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="changelog-100-beta-6" hidden class="contents">
            <dd class="mt-2 pr-12">
              <ul class="text-base/7 text-gray-600 dark:text-gray-400 list-disc list-inside">
                <li>Suche</li>
                <li>Sprachwechsel deutsch/englisch</li>
                <li>Dark Mode</li>
              </ul>
            </dd>
          </el-disclosure>
        </div>
      </dl>
      </div>
    </div>
  </div>
</div>

{% endblock %}