{% extends 'base.html.twig' %}

{% block title %}{{ 'global.title.login.password-mail-sent'|trans }}{% endblock %}

{% block body %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="{{ asset('images/mobasave-notext.svg') }}" alt="mobasave" class="mx-auto h-auto w-200" />
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">{{ 'global.title.login.password-mail-sent'|trans }}</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <p class="text-sm">
            {{ 'login.reset-password.mail-sent.claim'|trans({'expire': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
        </p>
        <p class="text-sm mt-5">{{ 'login.reset-password.mail-sent.spam'|trans({'link': path('app_forgot_password_request')})|raw }}</p>
</div>
{% endblock %}
