{% extends 'base.html.twig' %}

{% set current = 'profile' %}

{% block title %}
    {% if database.name=="" %}
        {{ 'collection.new'|trans }}
    {% else %}
        {{ 'collection.edit'|trans({'name': database.name}) }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="py-10">
        <header>
            <div class="flex justify-between mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {% if database.name=="" %}
                        {{ 'collection.new'|trans }}
                    {% else %}
                        {{ 'collection.edit'|trans({'name': database.name}) }}
                    {% endif %}
                </h1>
            </div>
        </header>
        <main>
            {{ form_start(databaseform, {'attr': {'class': 'mx-auto max-w-10xl px-4 py-8 sm:px-6 lg:px-8', 'id': 'databaseform'}}) }}
            <div class="space-y-12">
                <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 md:grid-cols-3 dark:border-white/10">
                    <div>
                        {% if database.image!="" %}<img src="{{ absolute_url(asset('data/collection/' ~ database.image))|replace({"localhost:8000": remotehost})|replace({"127.0.0.1:8000": remotehost}) }}" alt="{{ database.name }}" class="mx-auto h-auto w-200" />{% endif %}
                        <div class="col-span-full">
                            <label for="form_image" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'collection.field.image'|trans }}</label>
                            <div id="drop-zone" class="hover:bg-gray-100 mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10 dark:border-white/25">
                                <div class="text-center">
                                    <div id="icon-holder">
                                        <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mx-auto size-12 text-gray-300 dark:text-gray-500" id="preview-icon">
                                            <path d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <div class="mt-4 flex text-sm/6 text-gray-600 dark:text-gray-400">
                                        <label for="form_image" class="relative cursor-pointer rounded-md font-semibold text-green-800 focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-green-800 hover:text-green-700 dark:bg-transparent dark:text-green-600 dark:focus-within:outline-green-700 dark:hover:text-green-600">
                                            <span>{{ 'global.upload.file'|trans }}</span>
                                            {{ form_widget(databaseform.image, {'attr': {'class': 'sr-only', 'accept': '.png, .jpg, .jpeg, .webp, .svg'}}) }}
                                        </label>
                                        <p class="pl-1">{{ 'global.upload.drag-n-drop'|trans }}</p>
                                    </div>
                                    <p class="text-xs/5 text-gray-600 dark:text-gray-400">{{ 'global.upload.filetypes'|trans }}</p>
                                </div>
                            </div>
                            <p id="filetype-error" class="hidden mt-2 text-sm text-red-600 dark:text-red-400">{{ 'global.error.filetype-invalid'|trans }}</p>
                        </div>
                    </div>

                    <div class="grid max-w-2xl grid-cols-2 gap-2 sm:grid-cols-6 md:col-span-2">
                        <div class="col-span-full">
                            {% for message in app.flashes('success') %}
                                <div class="border-l-4 border-green-400 bg-green-50 p-4 dark:border-green-500 dark:bg-green-500/10">
                                    <div class="flex">
                                        <div class="shrink-0">
                                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-green-400">
                                                <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm text-green-700 dark:text-green-300">{{ message }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="sm:col-span-3">
                            <label for="form_name" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'collection.field.name'|trans }}</label>
                            <div class="grid grid-cols-1">
                                {{ form_widget(databaseform.name, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="form_color" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'collection.field.color'|trans }}</label>
                            <div class="grid grid-cols-1">
                                {{ form_widget(databaseform.color, {'attr': {'class': 'p-1 h-9 w-full appearance-none rounded-md bg-white text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3 sm:row-span-50">
                        </div>
                    </div>
                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    {{ form_widget(databaseform.save, {'attr': {'class': 'rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:shadow-none dark:focus-visible:outline-green-700'}}) }}
                </div>
                {{ form_end(databaseform) }}
        </main>
    </div>


{% endblock %}
