{% extends 'base.html.twig' %}
{% if 'mbs_manufacturer' in app.request.attributes.get("_route") %}
    {% set current = 'manufacturer' %}
    {% set path_back = path('mbs_manufacturer_models', {id: model.manufacturer.id}) %}
{% elseif 'mbs_dealer' in app.request.attributes.get("_route") %}
    {% set current = 'dealer' %}
    {% set path_back = path('mbs_dealer_models', {id: model.dealer.id}) %}
{% elseif 'mbs_company' in app.request.attributes.get("_route") %}
    {% set current = 'company' %}
    {% set path_back = path('mbs_company_models', {id: model.company.id}) %}
{% else %}
    {% set current = 'model' %}
    {% set path_back = path('mbs_database', {id: app.session.get('database')}) %}
{% endif %}

{% block title %}{{ 'global.nav.details'|trans }} {{ model.name }} ({{ model.model }}){% endblock %}
{% block body %}
    <div class="py-10">
        <header>
            <div class="flex justify-between mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{{ model.name }}</h1>
                <div class="flex gap-1">
                    <a href="{{ path('mbs_model_add') }}" type="button" class="block rounded-md bg-green-800 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:hover:bg-green-600 dark:focus-visible:outline-green-700">{{ 'model.list.add'|trans }}</a>
                    <a href="{{ path_back }}" type="button" class="block rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">{{ 'global.back'|trans }}</a>
                </div>
            </div>
        </header>
        <main>
        <div class="mx-auto max-w-10xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="space-y-12">
            {%  include 'collection/nav.html.twig' with {'template': 'details'} %}
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 md:grid-cols-3 dark:border-white/10">
                <div>
                    {% if model.image!="" %}<img src="{{ absolute_url(asset('data/image/' ~ model.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.name }}" class="border-gray-300 dark:border-white/10 rounded-md border mx-auto h-auto w-200" />{% endif %}
                </div>

                <div class="grid max-w-2xl grid-cols-2 gap-2 sm:grid-cols-6 md:col-span-2">
                    <div class="col-span-full">
                        {% for message in app.flashes('success') %}
                        <div class="border-l-4 border-green-400 bg-green-50 p-4 dark:border-green-500 dark:bg-green-500/10">
                            <div class="flex">
                                <div class="shrink-0">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-green-400">
                                        <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm text-green-700 dark:text-green-300">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_containertype" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.nodetails'|trans }}</label>
                    </div>
                    <div class="sm:col-span-3 sm:row-span-60">
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>


{% endblock %}
