{% extends 'base.html.twig' %}
{% if 'mbs_manufacturer' in app.request.attributes.get("_route") %}
    {% set current = 'manufacturer' %}
    {% set path_history = path('mbs_manufacturer', {id: models[0].manufacturer.id}) %}
    {% set text_history = 'manufacturer.back'|trans({name: models[0].manufacturer.name}) %}
{% elseif 'mbs_dealer' in app.request.attributes.get("_route") %}
    {% set current = 'dealer' %}
    {% set path_history = path('mbs_dealer', {id: models[0].dealer.id}) %}
    {% set text_history = 'dealer.back'|trans({name: models[0].dealer.name}) %}
{% elseif 'mbs_company' in app.request.attributes.get("_route") %}
    {% set current = 'company' %}
    {% set path_history = path('mbs_company', {id: models[0].company.id}) %}
    {% set text_history = 'company.back'|trans({name: models[0].company.name}) %}
{% elseif 'mbs_storage' in app.request.attributes.get("_route") %}
    {% set current = 'storage' %}
    {% set path_history = path('mbs_storage', {id: models[0].storage.id}) %}
    {% set text_history = 'storage.back'|trans({name: models[0].storage.name}) %}
{% elseif(models|length>0) %}
    {% set current = 'model' %}
    {% set path_history = path('mbs_database', {id: models[0].modeldatabase.id}) %}
    {% set text_history = 'global.back'|trans %}
{% else %}
    {% set current = '' %}
    {% set path_history = path('mbs_database', {id: app.session.get('database')}) %}
    {% set text_history = 'global.back'|trans %}
{% endif %}

{% block title %}
  {% if app.request.get('search') is defined and app.request.get('search') != "" and app.request.get('filter') is defined and app.request.get('filter') != "" %}
      {{ 'global.title.search'|trans({'query': app.request.get('search')}) }} {{ 'global.title.filtercount'|trans({'count': app.request.get('filter')|length}) }}
  {% elseif app.request.get('search') is defined and app.request.get('search') != "" %}
    {{ 'global.title.search'|trans({'query': app.request.get('search')}) }}
  {% elseif app.request.get('filter') is defined and app.request.get('filter') != "" %}
      {{ 'global.title.filter'|trans({'count': app.request.get('filter')|length}) }}
  {% elseif current == "manufacturer"  %}
      {{ 'manufacturer.models'|trans({'name': models[0].manufacturer.name}) }}
  {% elseif current == "dealer"  %}
      {{ 'dealer.models'|trans({'name': models[0].dealer.name}) }}
  {% elseif current == "company"  %}
      {{ 'company.models'|trans({'name': models[0].company.name}) }}
  {% elseif current == "storage"  %}
      {{ 'storage.models'|trans({'name': models[0].storage.name}) }}
  {% elseif database.name is defined %}
    {{ 'collection.name'|trans({'name': database.name}) }}
  {% else %}
    {{ 'collection.all'|trans }}
  {% endif %}
{% endblock %}
{% block body %}
  <div class="py-10">
    <header>
        <div class="flex justify-between mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
          {% if app.request.get('search') is defined and app.request.get('search') != "" and app.request.get('filter') is defined and app.request.get('filter') != "" %}
              {{ 'global.title.searchresult'|trans({'query': app.request.get('search'), 'count': total}) }} {{ 'global.title.filtercount'|trans({'count': app.request.get('filter')|length}) }}
          {% elseif app.request.get('search') is defined and app.request.get('search') != "" %}
              {{ 'global.title.searchresult'|trans({'query': app.request.get('search'), 'count': total}) }}
          {% elseif app.request.get('filter') is defined and app.request.get('filter') != "" %}
              {{ 'global.title.filter'|trans({'count': total}) }} {{ 'global.title.filtercount'|trans({'count': app.request.get('filter')|length}) }}
          {% elseif current == "manufacturer"  %}
              {{ 'manufacturer.models'|trans({'name': models[0].manufacturer.name}) }}
          {% elseif current == "dealer"  %}
              {{ 'dealer.models'|trans({'name': models[0].dealer.name}) }}
          {% elseif current == "company"  %}
              {{ 'company.models'|trans({'name': models[0].company.name}) }}
          {% elseif current == "storage"  %}
              {{ 'storage.models'|trans({'name': models[0].storage.name}) }}
          {% elseif database.name is defined %}
              {{ 'collection.name'|trans({'name': database.name}) }}
          {% else %}
              {{ 'collection.all'|trans }}
          {% endif %}
          </h1>
          <div class="md:flex gap-1">
              <a href="{{ path('mbs_model_add') }}" type="button" class="rounded-md bg-lime-400 px-3 py-2 text-sm font-semibold text-green-800 shadow-xs hover:bg-lime-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-400 dark:bg-lime-300 dark:shadow-none dark:focus-visible:outline-lime-300 whitespace-nowrap flex"><svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1.5 -ml-0.5 size-5"><path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" /></svg>{{ 'model.list.add'|trans }}</a>
              <a href="{{ path_history }}" type="button" class="block rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">{{ text_history }}</a>
          </div>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-10xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="col-span-full mt-5">
                {% for message in app.flashes('error') %}
                    <div class="border-l-4 border-red-400 bg-red-50 p-4 dark:border-red-500 dark:bg-red-500/10">
                        <div class="flex">
                            <div class="shrink-0">
                                <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-red-400">
                                    <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm text-red-700 dark:text-red-300">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="border-l-4 border-green-400 bg-green-50 p-4 dark:border-green-500 dark:bg-green-500/10">
                        <div class="flex">
                            <div class="shrink-0">
                                <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-green-400">
                                    <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm text-green-700 dark:text-green-300">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if models.getTotalItemCount>0 %}
            {{ knp_pagination_render(models) }}
          <div class="mt-8 flow-root">
              {% if app.session.get('database')!="" and filters is defined %}
              {%  include 'collection/filter.html.twig' %}
              {% endif %}
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="relative min-w-full divide-y divide-gray-300 dark:divide-white/15">
                  <thead>
                    <tr>
                      <th scope="col" class="whitespace-nowrap py-3.5 pr-4 pl-3 sm:pr-0"><span class="sr-only">{{ 'model.list.image'|trans }}</span></th>
                      <th scope="col" class="whitespace-nowrap py-3.5 px-3 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.name'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.name', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.name', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.manufacturer'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'manu.name', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'manu.name', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.category'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'c.name', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'c.name', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.subcategory'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'sub.name', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'sub.name', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.model'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.model', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.model', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.gtin13'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.gtin13', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.gtin13', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.status'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'status.name', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'status.name', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.storage'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 's.name', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 's.name', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">
                          {{ 'model.field.purchased'|trans }}
                          <span class="sorter">
                              <a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.purchased', 'sortorder': 'asc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▲</a><a class="text-green-800 hover:text-green-600 dark:text-green-600 dark:hover:text-green-500" href="{{ path(app.request.attributes.get('_route'), {'sortcolumn': 'm.purchased', 'sortorder': 'desc', 'id': app.request.get('id'), 'page': app.request.get('page'), 'search': app.request.get('search'), 'filter': app.request.get('filter')}) }}">▼</a>
                          </span>
                      </th>
                      <th scope="col" class="whitespace-nowrap py-3.5 pr-4 pl-3 sm:pr-0"><span class="sr-only">{{ 'global.edit'|trans }}</span></th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white dark:divide-white/10 dark:bg-gray-900">
                  {% for model in models %}
                      {% if current == 'manufacturer' %}
                          {% set path = path('mbs_manufacturer_model', {id: model.id, manufacturer: model.manufacturer.id}) %}
                      {% elseif current == 'company' %}
                          {% set path = path('mbs_company_model', {id: model.id, company: model.company.id}) %}
                      {% elseif current == 'storage' %}
                          {% set path = path('mbs_storage_model', {id: model.id, storage: model.storage.id}) %}
                      {% elseif current == 'dealer' %}
                          {% set path = path('mbs_dealer_model', {id: model.id, dealer: model.dealer.id}) %}
                      {% else %}
                        {% set path = path('mbs_model', {id: model.id}) %}
                      {% endif %}

                      <tr class="even:bg-gray-50 dark:even:bg-gray-800/50">
                      <td class="py-5 pr-3 pl-4 text-sm whitespace-nowrap sm:pl-0">
                          <div class="flex items-center">
                              <div class="size-11 shrink-0">
                                  {% if model.image!="" %}
                                  <img src="{{ absolute_url(asset('data/image/' ~ model.image))|replace({"localhost:8000": remotehost})|replace({"127.0.0.1:8000": remotehost}) }}" alt="{{ model.name }}" class="p-1 rounded-md outline-1 dark:outline-white/10 outline-gray-300" />
                                  {% endif %}
                              </div>
                          </div>
                      </td>
                      <td class="py-5 pr-3 pl-4 text-sm whitespace-nowrap sm:pl-0">
                          <div class="md:ml-4">
                              <div class="font-medium text-gray-900 dark:text-white"><a href="{{ path }}" class="text-green-800 hover:text-green-600 hover:underline dark:text-green-600 dark:hover:text-green-500">{{ model.name }}</a></div>
                          </div>
                      </td>
                      <td class="py-5 pr-3 pl-4 text-sm whitespace-nowrap sm:pl-0">
                          <div class="md:ml-4">
                              <div class="font-medium text-gray-900 dark:text-white">{{ model.manufacturer.name is defined ? model.manufacturer.name : '' }}</div>
                          </div>
                      </td>
                      <td class="px-3 py-5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                          <div class="text-gray-900 dark:text-white">{{ model.category.name }}</div>
                      </td>
                      <td class="px-3 py-5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                          <div class="text-gray-900 dark:text-white">{% if model.subcategory is defined and model.subcategory is not null %}{{ model.subcategory.name }}{% endif %}</div>
                      </td>
                      <td class="py-5 pr-3 pl-4 text-sm whitespace-nowrap sm:pl-0">
                          <div class="md:ml-4">
                              <div class="font-medium text-gray-900 dark:text-white">{{ model.model }}</div>
                          </div>
                      </td>
                      <td class="py-5 pr-3 pl-4 text-sm whitespace-nowrap sm:pl-0">
                          <div class="md:ml-4">
                              <div class="font-medium text-gray-900 dark:text-white">{{ model.gtin13 }}</div>
                          </div>
                      </td>
                      <td class="px-3 py-5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                          <span class="inline-flex items-center rounded-md bg-{{model.status.color}}-50 px-2 py-1 text-xs font-medium text-{{model.status.color}}-600 inset-ring inset-ring-{{model.status.color}}-500/10 dark:bg-{{model.status.color}}-400/10 dark:text-{{model.status.color}}-400 dark:inset-ring-{{model.status.color}}-400/20">{{ model.status.name }}</span>
                      </td>
                      <td class="px-3 py-5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                          {% if model.storage.color is defined %}
                          <span class="inline-flex items-center rounded-md bg-{{model.storage.color}}-50 px-2 py-1 text-xs font-medium text-{{model.storage.color}}-600 inset-ring inset-ring-{{model.storage.color}}-500/10 dark:bg-{{model.storage.color}}-400/10 dark:text-{{model.storage.color}}-400 dark:inset-ring-{{model.storage.color}}-400/20">{{ model.storage.name }}</span>
                          {% endif %}
                      </td>
                      <td class="px-3 py-5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                          {% if model.purchased!="" %}
                          {{ model.purchased|format_date('medium', locale: app.request.locale) }}
                          {% endif %}
                      </td>
                      <td class="py-5 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0">
                          <a href="{{ path }}" class="text-green-800 hover:text-green-600 hover:underline dark:text-green-600 dark:hover:text-green-500">{{ 'global.edit'|trans }}<span class="sr-only">{{ model.name }}</span></a>
                      </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {{ knp_pagination_render(models) }}
              {% else %}
                  {% if app.session.get('database')!="" %}
                      <div class="pb-10">
                      {%  include 'collection/filter.html.twig' %}
                      </div>
                  {% endif %}
                  <div class="text-center relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-green-800 dark:border-white/15 dark:hover:border-white/25 dark:focus:outline-green-700">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true" class="mx-auto size-12 text-gray-400 dark:text-gray-500">
                          <path d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" stroke-width="2" vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <h3 class="mt-2 text-sm font-semibold text-gray-900 dark:text-white">{% trans %}model.no-model.fact{% endtrans %}</h3>
                      <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{%  trans %}model.no-model.claim{% endtrans %}</p>
                      <div class="mt-6">
                          <a href="{{ path('mbs_model_add') }}" type="button" class="inline-flex items-center rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:shadow-none dark:hover:bg-green-600 dark:focus-visible:outline-green-700">
                              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1.5 -ml-0.5 size-5">
                                  <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                              </svg>
                              {% trans %}model.list.add{% endtrans %}
                          </a>
                      </div>
                  </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
