{% extends 'base.html.twig' %}
{% if 'mbs_manufacturer' in app.request.attributes.get("_route") %}
    {% set current = 'manufacturer' %}
    {% set path_back = path('mbs_manufacturer_models', {id: model.manufacturer.id}) %}
{% elseif 'mbs_dealer' in app.request.attributes.get("_route") %}
    {% set current = 'dealer' %}
    {% set path_back = path('mbs_dealer_models', {id: model.dealer.id}) %}
{% elseif 'mbs_company' in app.request.attributes.get("_route") %}
    {% set current = 'company' %}
    {% set path_back = path('mbs_company_models', {id: model.company.id}) %}
{% else %}
    {% set current = 'model' %}
    {% set path_back = path('mbs_database', {id: app.session.get('database')}) %}
{% endif %}

{% block title %}{{ 'global.nav.details'|trans }} {{ model.name }} ({{ model.model }}){% endblock %}
{% block body %}
    <div class="py-10">
        <header>
            <div class="flex justify-between mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{{ model.name }}</h1>
                <div class="flex gap-1">
                    <a href="{{ path('mbs_model_add') }}" type="button" class="block rounded-md bg-green-800 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:hover:bg-green-600 dark:focus-visible:outline-green-700">{{ 'model.list.add'|trans }}</a>
                    <a href="{{ path_back }}" type="button" class="block rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">{{ 'global.back'|trans }}</a>
                </div>
            </div>
        </header>
        <main>
        {{ form_start(detailform, {'attr': {'class': 'mx-auto max-w-10xl px-4 py-8 sm:px-6 lg:px-8', 'id': 'modelform'}}) }}
        <div class="space-y-12">
            {%  include 'collection/nav.html.twig' with {'template': 'details'} %}
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 md:grid-cols-3 dark:border-white/10">
                <div>
                    {% if model.image!="" %}<img src="{{ absolute_url(asset('data/image/' ~ model.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.name }}" class="border-gray-300 dark:border-white/10 rounded-md border mx-auto h-auto w-200" />{% endif %}
                </div>

                <div class="grid max-w-2xl grid-cols-2 gap-2 sm:grid-cols-6 md:col-span-2">
                    <div class="col-span-full">
                        {% for message in app.flashes('success') %}
                        <div class="border-l-4 border-green-400 bg-green-50 p-4 dark:border-green-500 dark:bg-green-500/10">
                            <div class="flex">
                                <div class="shrink-0">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-green-400">
                                        <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm text-green-700 dark:text-green-300">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_class" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.class'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.class, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_registration" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.registration'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.registration, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_length" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.length'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.length, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_nickname" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.nickname'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.nickname, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_axle" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.axle'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.axle, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_power" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.power'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.power, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_coupler" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.coupler'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.coupler, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_maker" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.maker'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(detailform.maker, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                    <div class="sm:col-span-3 grid grid-cols-1">
                        <div class="flex gap-2">
                            <div class="col-start-1 group column-2 relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(detailform.digital, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm col-start-2">
                                <label for="form_digital" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.digital'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3 grid grid-cols-1">
                        <div class="flex gap-2">
                            <div class="col-start-1 group column-2 relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(detailform.sound, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm col-start-2">
                                <label for="form_sound" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.sound'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3 grid grid-cols-1">
                        <div class="flex gap-2">
                            <div class="col-start-1 group column-2 relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(detailform.smoke, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm col-start-2">
                                <label for="form_smoke" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.smoke'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3 grid grid-cols-1">
                        <div class="flex gap-2">
                            <div class="col-start-1 group column-2 relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(detailform.dccready, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm col-start-2">
                                <label for="form_dccready" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.dccready'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <div class="grid grid-cols-3 gap-2">
                            {% if model.locomotive.maker is defined and model.locomotive.maker.image!="" %}
                                <img class="rounded-md outline-1 dark:outline-white/10 outline-gray-300" src="{{ absolute_url(asset('data/logo/maker/' ~ model.locomotive.maker.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.locomotive.maker.name }}"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="sm:col-span-3 sm:row-span-40">
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                {{ form_widget(detailform.save, {'attr': {'class': 'rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:shadow-none dark:focus-visible:outline-green-700'}}) }}
            </div>
        {{ form_end(detailform) }}
        </main>
    </div>


{% endblock %}
