{% extends 'base.html.twig' %}
{% if 'mbs_manufacturer' in app.request.attributes.get("_route") %}
    {% set current = 'manufacturer' %}
    {% set path_back = path('mbs_manufacturer_models', {id: model.manufacturer.id}) %}
{% elseif 'mbs_dealer' in app.request.attributes.get("_route") %}
    {% set current = 'dealer' %}
    {% set path_back = path('mbs_dealer_models', {id: model.dealer.id}) %}
{% elseif 'mbs_company' in app.request.attributes.get("_route") %}
    {% set current = 'company' %}
    {% set path_back = path('mbs_company_models', {id: model.company.id}) %}
{% else %}
    {% set current = 'model' %}
    {% set path_back = path('mbs_database', {id: app.session.get('database')}) %}
{% endif %}

{% block title %}
    {% if model.id is defined and model.id != "" %}
        {{ model.name }} ({{ model.model }})
    {% else %}
        {{ 'global.title.add.model'|trans }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="py-10">
        <header>
            <div class="flex justify-between mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{{ model.name }}</h1>
                <div class="md:flex gap-1">
                  <a href="{{ path('mbs_model_add') }}" type="button" class="rounded-md bg-lime-400 px-3 py-2 text-sm font-semibold text-green-800 shadow-xs hover:bg-lime-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-400 dark:bg-lime-300 dark:shadow-none dark:focus-visible:outline-lime-300 whitespace-nowrap flex"><svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1.5 -ml-0.5 size-5"><path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" /></svg>{{ 'model.list.add'|trans }}</a>
                  <a href="{{ path_back }}" type="button" class="block rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">{{ 'global.back'|trans }}</a>
                </div>
            </div>
        </header>
        <main>
        {{ form_start(modelform, {'attr': {'class': 'mx-auto max-w-10xl px-4 py-8 sm:px-6 lg:px-8', 'id': 'modelform'}}) }}
        {% if model.id is defined and model.id != "" %}
        <div class="space-y-12">
            {%  include 'collection/nav.html.twig' with {'template': 'model'} %}
            {% endif %}
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 dark:border-white/10">
                <div>
                    {% if model.image!="" %}<img src="{{ absolute_url(asset('data/image/' ~ model.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.name }}" class="border-gray-300 dark:border-white/10 rounded-md border mx-auto h-auto w-200" />{% endif %}
                    <div class="col-span-full">
                        <label for="form_image" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.image'|trans }}</label>
                        <div id="drop-zone" class="hover:bg-gray-100 mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10 dark:border-white/25">
                            <div class="text-center">
                                <div id="icon-holder">
                                    <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mx-auto size-12 text-gray-300 dark:text-gray-500" id="preview-icon">
                                        <path d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="mt-4 flex text-sm/6 text-gray-600 dark:text-gray-400">
                                    <label for="form_image" class="relative cursor-pointer rounded-md font-semibold text-green-800 focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-green-800 hover:text-green-700 dark:bg-transparent dark:text-green-600 dark:focus-within:outline-green-700 dark:hover:text-green-600">
                                        <span>{{ 'global.upload.file'|trans }}</span>
                                        {{ form_widget(modelform.image, {'attr': {'class': 'sr-only', 'accept': '.png, .jpg, .jpeg, .webp, .svg'}}) }}
                                    </label>
                                    <p class="pl-1">{{ 'global.upload.drag-n-drop'|trans }}</p>
                                </div>
                                <p class="text-xs/5 text-gray-600 dark:text-gray-400">{{ 'global.upload.filetypes'|trans }}</p>
                            </div>
                        </div>
                        <p id="filetype-error" class="hidden mt-2 text-sm text-red-500">{{ 'global.error.filetype-invalid'|trans }}</p>
                    </div>
                </div>

                <div class="grid max-w-2xl grid-cols-2 gap-2 sm:grid-cols-6 md:col-span-2">
                    <div class="col-span-full">
                        {% for message in app.flashes('error') %}
                        <div class="border-l-4 border-red-400 bg-red-50 p-4 dark:border-red-500 dark:bg-red-500/10">
                            <div class="flex">
                                <div class="shrink-0">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-red-400">
                                        <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm text-red-700 dark:text-red-300">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="my-custom-class-for-errors">
                        {{ form_errors(modelform) }}
                        </div>
                        {% for message in app.flashes('success') %}
                        <div class="border-l-4 border-green-400 bg-green-50 p-4 dark:border-green-500 dark:bg-green-500/10">
                            <div class="flex">
                                <div class="shrink-0">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-green-400">
                                        <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm text-green-700 dark:text-green-300">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_category" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.category'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.category, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700', 'data-path': path('mbs_api_subcategory')}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                            </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.category'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.category'|trans}) }}" data-entity="category" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_subcategory" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.subcategory'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.subcategory, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-parent='category' data-title="{{ 'model.field.subcategory'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.subcategory'|trans}) }}" data-entity="subcategory" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_name" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.name'|trans }}</label>
                        <div>
                            {{ form_widget(modelform.name, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_model" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.model'|trans }}</label>
                        <div>
                            {{ form_widget(modelform.model, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_manufacturer" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.manufacturer'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.manufacturer, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.manufacturer'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.manufacturer'|trans}) }}" data-entity="manufacturer" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_gtin13" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.gtin13'|trans }}</label>
                        <div>
                            {{ form_widget(modelform.gtin13, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_company" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.company'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.company, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.company'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.company'|trans}) }}" data-entity="company" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <span class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.colors'|trans }}</span>
                        <div class="grid grid-cols-3 gap-2">
                            {%  set color1 = model.color1=='' ? 'rgba(255,255,255,0)' : model.color1  %}
                            {%  set color2 = model.color2=='' ? 'rgba(255,255,255,0)' : model.color2  %}
                            {%  set color3 = model.color3=='' ? 'rgba(255,255,255,0)' : model.color3  %}
                            <label for="form_color1" class="sr-only">{{ 'model.field.color1'|trans }}</label>
                            {{ form_widget(modelform.color1, {'attr': {'value': color1, 'class': 'p-1 h-9 w-25 appearance-none rounded-md bg-white text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <label for="form_color2" class="sr-only">{{ 'model.field.color1'|trans }}</label>
                            {{ form_widget(modelform.color2, {'attr': {'value': color2, 'class': 'p-1 h-9 w-25 block bg-white border border-gray-200 cursor-pointer rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700'}}) }}
                            <label for="form_color3" class="sr-only">{{ 'model.field.color1'|trans }}</label>
                            {{ form_widget(modelform.color3, {'attr': {'value': color3, 'class': 'p-1 h-9 w-25 block bg-white border border-gray-200 cursor-pointer rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_country" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.country'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.country, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.country'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.country'|trans}) }}" data-entity="country" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <div class="grid grid-cols-3 gap-2">
                            {% if model.manufacturer is defined and model.manufacturer.image is defined and model.manufacturer.image!="" %}
                            <img id="image-manufacturer" class="rounded-md outline-1 dark:outline-white/10 outline-gray-300" src="{{ absolute_url(asset('data/logo/manufacturer/' ~ model.manufacturer.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.manufacturer.name }}"/>
                            {% else %}
                            <img id="image-manufacturer" src="{{ (asset('images/blank.svg')) }}" alt=""/>
                            {% endif %}
                            {% if model.company is defined and model.company.image is defined and model.company.image!="" %}
                            <img id="image-company" class="rounded-md outline-1 dark:outline-white/10 outline-gray-300" src="{{ absolute_url(asset('data/logo/company/' ~ model.company.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.company.name }}"/>
                            {% else %}
                            <img id="image-company" src="{{ (asset('images/blank.svg')) }}" alt=""/>
                            {% endif %}
                            {% if model.country is defined and model.country.iso2 is defined %}
                            <img id="image-flag" class="rounded-md outline-1 dark:outline-white/10 outline-gray-300" src="{{ absolute_url(asset('data/flag/' ~ model.country.iso2))|replace({"localhost:8000": remotehost}) }}.svg" alt="{{ model.country.name }}"/>
                            {% else %}
                            <img id="image-flag" src="{{ (asset('images/blank.svg')) }}" alt=""/>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-span-full">
                        <div class="flex items-center">
                            <div aria-hidden="true" class="w-full mt-3 border-t border-gray-300 dark:border-white/15"></div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <span class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.gauge'|trans }}</span>
                        <div class="grid grid-cols-2 gap-2">
                            <label for="form_scale" class="sr-only">{{ 'model.field.scale'|trans }}</label>
                            <div class="grid grid-cols-10 gap-2">
                                <div class="grid grid-cols-1 col-span-9 mr-2">
                                {{ form_widget(modelform.scale, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700', 'data-path': path('mbs_api_track')}}) }}
                                <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                    <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                </svg>
                            </div>
                            <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.scale'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.scale'|trans}) }}" data-entity="scale" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                </svg>
                                <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                            </button>
                            </div>
                            <label for="form_track" class="sr-only">{{ 'model.field.track'|trans }}</label>
                            <div class="grid grid-cols-10 gap-2">
                                <div class="grid grid-cols-1 col-span-9 mr-2">
                                {{ form_widget(modelform.track, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                                <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                    <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                </svg>
                            </div>
                                <button type="button" command="show-modal" class="add-value" data-parent='scale' data-title="{{ 'model.field.track'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.track'|trans}) }}" data-entity="track" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                    </svg>
                                    <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <span class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.epoch'|trans }}</span>
                        <div class="grid grid-cols-2 gap-2">
                            <label for="form_epoch" class="sr-only">{{ 'model.field.epoch'|trans }}</label>
                            <div class="grid grid-cols-10 gap-2">
                                <div class="grid grid-cols-1 col-span-9 mr-2">
                                    {{ form_widget(modelform.epoch, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700', 'data-path': path('mbs_api_subepoch')}}) }}
                                    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                        <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.epoch'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.epoch'|trans}) }}" data-entity="epoch" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                    </svg>
                                    <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                                </button>
                            </div>
                            <label for="form_subepoch" class="sr-only">{{ 'model.field.subepoch'|trans }}</label>
                            <div class="grid grid-cols-10 gap-2">
                                <div class="grid grid-cols-1 col-span-9 mr-2">
                                    {{ form_widget(modelform.subepoch, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                                    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                        <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                </div>
                                <button type="button" command="show-modal" class="add-value" data-parent='epoch' data-title="{{ 'model.field.subepoch'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.subepoch'|trans}) }}" data-entity="subepoch" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                    </svg>
                                    <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_storage" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.storage'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.storage, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.storage'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.storage'|trans}) }}" data-entity="storage" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_box" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.box'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.box, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.box'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.box'|trans}) }}" data-entity="box" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_project" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.project'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.project, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.project'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.project'|trans}) }}" data-entity="project" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3 row-span-3">
                        <span class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.conditiondetails'|trans }}</span>
                        <div class="flex items-center gap-3 mb-3">
                            <div class="group relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(modelform.instructions, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm">
                                <label for="form_instructions" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.instructions'|trans }}</label>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 mb-3">
                            <div class="group relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(modelform.parts, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm">
                                <label for="form_parts" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.parts'|trans }}</label>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 mb-3">
                            <div class="group relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(modelform.displaycase, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm">
                                <label for="form_displaycase" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.displaycase'|trans }}</label>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 mb-3">
                            <div class="group relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(modelform.weathered, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm">
                                <label for="form_weathered" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.weathered'|trans }}</label>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 mb-3">
                            <div class="group relative inline-flex w-11 shrink-0 rounded-full bg-gray-200 p-0.5 inset-ring inset-ring-gray-900/5 outline-offset-2 outline-green-800 transition-colors duration-200 ease-in-out has-checked:bg-green-800 has-focus-visible:outline-2 dark:bg-white/5 dark:inset-ring-white/10 dark:outline-green-700 dark:has-checked:bg-green-700">
                                <span class="size-5 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-5"></span>
                                {{ form_widget(modelform.enhanced, {'attr': {'class': 'absolute inset-0 appearance-none focus:outline-hidden'}}) }}
                            </div>
                            <div class="text-sm">
                                <label for="form_enhanced" class="font-medium text-gray-900 dark:text-white">{{ 'model.field.enhanced'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_set" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.modelset'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.modelset, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.modelset'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.modelset'|trans}) }}" data-entity="modelset" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_modelcondition" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.condition'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.modelcondition, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.condition'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.condition'|trans}) }}" data-entity="condition" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_status" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.status'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.status, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.status'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.status'|trans}) }}" data-entity="status" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>
                    </div>
                    <div class="col-span-full">
                        <div class="flex items-center">
                            <div aria-hidden="true" class="w-full mt-3 border-t border-gray-300 dark:border-white/15"></div>
                        </div>
                    </div>
                    <div class="col-span-full">
                        <label for="form_notes" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.notes'|trans }}</label>
                        <div>
                            {{ form_widget(modelform.notes, {'attr': {'class': 'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="col-span-full">
                        <label for="form_description" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.description'|trans }}</label>
                        <div>
                            {{ form_widget(modelform.description, {'attr': {'class': 'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="col-span-full">
                        <div class="flex items-center">
                            <div aria-hidden="true" class="w-full mt-3 border-t border-gray-300 dark:border-white/15"></div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_purchased" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.purchased'|trans }}</label>
                        <div class="grid grid-cols-1">
                            {{ form_widget(modelform.purchased, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_dealer" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.dealer'|trans }}</label>
                        <div class="grid grid-cols-10 gap-2">
                            <div class="grid grid-cols-1 col-span-9">
                            {{ form_widget(modelform.dealer, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <button type="button" command="show-modal" class="add-value" data-title="{{ 'model.field.dealer'|trans }}" data-label="{{ 'model.field.new'|trans({'name': 'model.field.dealer'|trans}) }}" data-entity="dealer" commandfor="drawer" class="flex shrink-0 items-end bg-white text-base text-gray-500 sm:text-sm/6 dark:bg-white/5 dark:text-gray-400 dark:outline-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none col-start-1 row-start-1 w-10 h-10 self-center justify-self-end text-gray-500 sm:size-5 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">{{ 'model.list.edit'|trans }}</span>
                        </button>
                        </div>

                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_msrp" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.msrp'|trans }}</label>
                        <div class="grid grid-cols-2 items-center gap-3">
                            {{ form_widget(modelform.msrp, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_price" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.price'|trans }}</label>
                        <div class="grid grid-cols-2 items-center gap-3">
                            {{ form_widget(modelform.price, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="form_quantity" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.quantity'|trans }}</label>
                        <div class="grid grid-cols-2 items-center gap-3">
                            {{ form_widget(modelform.quantity, {'attr': {'class': 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <div class="grid grid-cols-3 gap-2">
                            {% if model.dealer is defined and model.dealer.image is defined and model.dealer.image!="" %}
                                <img id="image-dealer" class="rounded-md outline-1 dark:outline-white/10 outline-gray-300" src="{{ absolute_url(asset('data/logo/dealer/' ~ model.dealer.image))|replace({"localhost:8000": remotehost}) }}" alt="{{ model.dealer.name }}"/>
                            {% else %}
                                <img id="image-dealer" src="{{ (asset('images/blank.svg')) }}" alt=""/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-2">
                {% if model.id is defined and model.id != "" %}<button type="button" command="show-modal" commandfor="dialog" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto dark:bg-red-500 dark:shadow-none dark:hover:bg-red-400">{{ 'model.delete.delete'|trans }}</button>{% endif %}
                {{ form_widget(modelform.save, {'attr': {'class': 'rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:shadow-none dark:focus-visible:outline-green-700'}}) }}
            </div>
        {{ form_end(modelform) }}
        </main>
    </div>

    <el-dialog>
        <dialog id="drawer" aria-labelledby="drawer-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-hidden bg-transparent not-open:hidden backdrop:bg-transparent">
            <el-dialog-backdrop class="absolute inset-0 bg-gray-500/75 transition-opacity duration-500 ease-in-out data-closed:opacity-0 dark:bg-gray-900/50"></el-dialog-backdrop>

            <div tabindex="0" class="absolute inset-0 pl-10 focus:outline-none sm:pl-16">
                <el-dialog-panel class="ml-auto block size-full max-w-md transform transition duration-500 ease-in-out data-closed:translate-x-full sm:duration-700">
                    <div class="relative flex h-full flex-col overflow-y-auto bg-white py-6 shadow-xl dark:bg-gray-800 dark:after:absolute dark:after:inset-y-0 dark:after:left-0 dark:after:w-px dark:after:bg-white/10">
                        <div class="px-4 sm:px-6">
                            <div class="flex items-start justify-between">
                                <h2 id="drawer-title" class="text-base font-semibold text-gray-900 dark:text-white">Panel title</h2>
                                <div class="ml-3 flex h-7 items-center">
                                    <button type="button" command="close" id="close-drawer" commandfor="drawer" class="relative rounded-md text-gray-400 hover:text-gray-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:hover:text-white dark:focus-visible:outline-green-700">
                                        <span class="absolute -inset-2.5"></span>
                                        <span class="sr-only">Close panel</span>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                                            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="relative mt-6 flex-1 px-4 sm:px-6">
                            <input type="hidden" name="drawer-entity" id="drawer-entity"/>
                            <input type="hidden" name="drawer-entity" id="drawer-parent"/>
                            <input type="hidden" name="drawer-path" id="drawer-path" value="{{ path('mbs_value_new') }}"/>
                            <label for="drawer-name" id="drawer-label" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ 'model.field.new'|trans }}</label>
                            <div class="grid grid-cols-1">
                                <input type="text" name="new" id="drawer-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700"/>
                            </div>

                            <div class="grid grid-cols-1 mt-1 text-sm hidden" id="parent-wrapper">
                                {{ 'model.field.parent'|trans }} <span id="parent"></span>
                            </div>
                            <div class="grid grid-cols-1 mt-3">
                                <button type="button" id="add-value" class="rounded-md bg-green-800 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800 dark:bg-green-700 dark:shadow-none dark:focus-visible:outline-green-700">{{ 'model.function.add'|trans }}</button>
                            </div>
                            <div class="grid grid-cols-1 mt-1 text-sm" id="parent-wrapper">
                                {{ 'model.value.add.hint'|trans }} <span id="parent"></span>
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
    {% if model.id is defined and model.id != "" %}

        <el-dialog>
            <dialog id="dialog" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
                <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in dark:bg-gray-900/50"></el-dialog-backdrop>

                <div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
                    <el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg sm:p-6 data-closed:sm:translate-y-0 data-closed:sm:scale-95 dark:bg-gray-800 dark:outline dark:-outline-offset-1 dark:outline-white/10">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10 dark:bg-red-500/10">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-red-600 dark:text-red-400">
                                    <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 id="dialog-title" class="text-base font-semibold text-gray-900 dark:text-white">
                                    {{ 'model.delete.headline'|trans }}</h3>
                                <div class="mt-2">
                                    <p class="text-sm text-gray-500 dark:text-gray-400">{{ 'model.delete.text'|trans }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                            <a href="{{ path('mbs_model_delete', {'id': model.id}) }}" type="button" command="close" commandfor="dialog" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto dark:bg-red-500 dark:shadow-none dark:hover:bg-red-400">
                                {{ 'model.delete.delete'|trans }}</a>
                            <button type="button" command="close" commandfor="dialog" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">
                                {{ 'model.delete.cancel'|trans }}</button>
                        </div>
                    </el-dialog-panel>
                </div>
            </dialog>
        </el-dialog>
    {% endif %}
{% endblock %}
