<!DOCTYPE html>
<html class="h-full bg-white dark:bg-gray-900 scheme-light dark:scheme-dark{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ app.user.dark==1 ? 'dark' : '' }}{% endif %}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}" />
        <meta name="apple-mobile-web-app-title" content="{{ 'global.name'|trans }}" />
        <link rel="manifest" href="{{ asset('site.webmanifest') }}" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{{ app.request.attributes.get("_route") }} lg:mx-2 sm:mx-50">
        {%  include 'nav.html.twig' %}
        {% block body %}{% endblock %}
        {%  include 'footer.html.twig' %}
    </body>

</html>
