<footer class="mx-3">
    <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 md:flex md:items-center md:justify-between lg:mt-24 dark:border-white/10">
        <div class="flex gap-x-6 md:order-2">
            <a href="https://www.facebook.com/fwrw.co" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white" target="_blank" rel="noopener">
                <span class="sr-only">{{ 'global.social.facebook'|trans }}</span>
                <svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="size-6">
                    <path d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" fill-rule="evenodd" />
                </svg>
            </a>
            <a href="https://www.instagram.com/fwrw.co/" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white" target="_blank" rel="noopener">
                <span class="sr-only">{{ 'global.social.instagram'|trans }}</span>
                <svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="size-6">
                    <path d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" fill-rule="evenodd" />
                </svg>
            </a>
            <a href="https://www.instagram.com/fwrw.co/" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white" target="_blank" rel="noopener">
                <span class="sr-only">{{ 'global.social.tiktok'|trans }}</span>
                <svg fill="currentColor" viewBox="0 0 24 24" class="size-6">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Graphic" fill-rule="evenodd" fill="currentColor">
                            <path d="M20.5015429,10.1999053 C18.7810624,10.2035899 17.1029237,9.66653083 15.7042663,8.6646205 L15.7042663,15.6495803 C15.7034465,18.2986816 14.0586864,20.6691249 11.577462,21.5971682 C9.09623767,22.5252115 6.29959434,21.8159701 4.56051202,19.817638 C2.82142969,17.8193059 2.50510734,14.9515232 3.76683978,12.622195 C5.02857223,10.2928668 7.60340171,8.9911409 10.2272452,9.35608464 L10.2272452,12.8680974 C9.02544946,12.4897792 7.71662229,12.9266005 6.98294494,13.9508833 C6.24926759,14.9751661 6.25689482,16.3549426 7.0018512,17.3710517 C7.74680758,18.3871608 9.06038401,18.8094858 10.2579238,18.4179043 C11.4554637,18.0263228 12.2657619,16.9095157 12.2664784,15.6495803 L12.2664784,2 L15.7042663,2 C15.7023265,2.29075253 15.7271731,2.58106568 15.7784912,2.86726011 L15.7784912,2.86726011 C16.0201151,4.15655593 16.7816149,5.28962232 17.8841363,6.00033493 C18.6606687,6.51320671 19.5709305,6.78628525 20.5015429,6.78555692 L20.5015429,10.1999053 Z" id="Path"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="https://www.youtube.com/@fwrw" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white" target="_blank" rel="noopener">
                <span class="sr-only">{{ 'global.social.youtube'|trans }}</span>
                <svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="size-6">
                    <path d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" fill-rule="evenodd" />
                </svg>
            </a>
        </div>
        <p class="mt-8 text-sm/6 text-gray-600 md:order-1 md:mt-0 dark:text-gray-400">{{ 'footer.claim'|trans({'year': 'now' | date('Y')})|raw }}</p>
    </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<script src="{{ asset('js/jquery-3.7.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/model.js') }}" type="text/javascript"></script>
